th , td {
  overflow: hidden;
  padding: 10px 20px;
  text-align: center;
  text-overflow: ellipsis;
}

.btns {
  display: flex;
  flex-direction: row;
  gap: 5px;
  justify-content: center;
}

.btns button {
  height: 40px;
  width: 40px;
}

tr:hover { background-color: rgba(129, 199, 132, 0.5);}

th {
  background-color: rgb(33, 150, 243);
  color: white;
}

.tabela {
  background-color: hwb(0 100% 0%);
  border: 1px solid rgb(221, 225, 221);
  border-radius: 16px;
  max-width: 1044px;
  min-height: 562px;
  overflow: hidden;

  /* width: 100%; */
}
